fastapi == 0.115.6
uvicorn == 0.34.0

sqlalchemy == 2.0.36
alembic == 1.14.0
asyncpg # library subbport connection pool for database in async way
# psycopg2-binary # library subbport connection pool for database